.menu{
    list-style: none;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px 36px;
    font-size: 24px;
}

.active{
    color: red;
}
