.wrapper{
    margin-left: 40px;
    margin-top: 15px;
    border: 1px solid red;
    padding: 8px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
    &:global(.active){
        color: red;
        font-weight: bold;
    }
}
