.wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.button{
        margin-top: 10px;
        display: block;
        width: 120px;
        height: 40px;
        border: 1px solid black;
        font-size: 20px;
        cursor: pointer;
    
        &:hover {
            border: 1px solid red;
            background-color: rgb(224, 105, 105);
        }
}

.username{
    font-size: 18px;
    text-decoration: underline red;
}