
.form__wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 240px 30px 30px;

    background-color: rgb(224, 105, 105);
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.form__label {
    font-size: 24px;
    margin-bottom: 10px;
    color: wheat;
}

.form__input {
    width: 240px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    &:focus {
        border-color: red;
        outline: none;
    }
    
    &::placeholder {
        color: red;
        font-weight: bold;
    }
}

.form__button {
    display: block;
    cursor: pointer;

    width: 240px;
    height: 44px;
    background-color: red;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #720e07;
    }
}