
.label{
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
    &:hover{
        color: red;
    }
}

.input{
    height: 28px;
    min-width: 300px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    &:focus{
        border-color: red;
        outline: none;
    }
    &::placeholder{
        color: red;
        font-weight: bold;
    }
}